<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>web-agenda</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- Registra a Servlet -->
	<servlet>
		<servlet-name>servletOlaMundo</servlet-name>
		<servlet-class>br.com.gabriel.servlet.OlaMundoServlet</servlet-class>
	</servlet>
	<!-- Mapeia a Url que chamará a Servlet -->
	<servlet-mapping>
		<servlet-name>servletOlaMundo</servlet-name>
		<url-pattern>/oi</url-pattern>
	</servlet-mapping>
	
	<!-- Registra a Servlet -->
	<servlet>
	<servlet-name>AdicionaContato</servlet-name>
	<servlet-class>
	br.com.gabriel.servlet.AdicionaContatoServlet
	</servlet-class>
	</servlet>
	<!-- Mapeia a Url que chamará a Servlet -->
	<servlet-mapping>
	<servlet-name>AdicionaContato</servlet-name>
	<url-pattern>/adicionaContato</url-pattern>
	</servlet-mapping>
	
	<!-- Registra a Servlet -->
	<servlet>
	<servlet-name>controlador</servlet-name>
	<servlet-class>
	br.com.gabriel.servlet.ControllerServlet
	</servlet-class>
	</servlet>
	<!-- Mapeia a Url que chamará a Servlet -->
	<servlet-mapping>
	<servlet-name>controlador</servlet-name>
	<url-pattern>/mvc</url-pattern>
	</servlet-mapping>
</web-app>